@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic reset and base styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--tiktok-black);
}

/* TikTok Palette */
:root {
  --tiktok-black: #000000;
  --tiktok-pink: #ff0050;
  --tiktok-white: #ffffff;
  --tiktok-blue: #2af0ea;
  --tiktok-gray: #1f2937;
}

/* Landing Page styles */
.landing-page {
  background-color: var(--tiktok-black);
  color: var(--tiktok-white);
  transition: background-color 0.3s ease;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.landing-page h1 {
  color: var(--tiktok-pink);
  background-color: --tiktok-black;
  animation: fadeIn 1s ease, slideInFromLeft 1s ease;
  font-size: 4rem;
  /* margin-top: auto; */
}

.landing-page button {
  background-color: var(--tiktok-white);
  color: var(--tiktok-black);
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  animation: fadeIn 1.5s ease, slideInFromRight 1.5s ease;
}

.landing-page button:hover {
  background-color: var(--tiktok-pink);
  transform: scale(1.05);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.rti--container {
  --rti-bg: #397684 !important;
  --rti-border: '2px solid #2af0ea' !important;
  border-radius: 0.9rem !important;
  --rti-main: '#3182ce';
  --rti-radius: '0.375rem';
  --rti-s: '0.5rem'; /* spacing */
  --rti-tag: '#edf2f7';
  --rti-tag-remove: '#e53e3e';
}

.rti--input {
  background-color: transparent !important;
  color: white !important;
  padding-left: 5px !important;
}

.rti--input::placeholder {
  color: white !important;
  opacity: 1;
}

.rti--tag {
  background-color: var(--tiktok-pink) !important;
  color: white !important;
}

.rti--tag button {
  color: white !important;
}
